.card{
 
    width: 20vw;
    margin: 10px;
    padding: 10px;
    background-color: rgb(211, 210, 209);
    border-radius: 5%;
    box-shadow: 3px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  
   

}

.items{
   margin: 10px; 
   
}

.btn{
    color: white;
    background-color: #1762A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: white;   
    cursor: pointer; 
    

}

.btn:hover{
    color:rgb(156, 156, 155)
}

.btn-containe{
    
}