.card{
 
    width: 30%;
    margin: 10px;
    padding: 5px;
    background-color: rgb(211, 210, 209);
    border-radius: 5%;
    box-shadow: 3px 3px
  
   

}

.title{
    
   
}

.btn{
    margin: 10px;
    
    

}

.btn-containe{
    
}