
<div class = "formContainer">
    <h1>Profile Form</h1>
    <form action="">
        <div class = "inputContainer">
            <label >Email:</label><br>
            <input type="text">
    
        </div>
        <div class = "inputContainer">
            <label for="">Name:</label><br>
            <input type="text">
    
        </div>
        <div class = "inputContainer">
            <label for="">Bio:</label><br>
            <input type="text">
    
        </div>
        <div class = "inputContainer">
            <label for="">Active:</label><br>
            <input type="text">
    
        </div>
        
    
    </form>
    

</div>
